<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qwx.dao.Bill.BillMapper">
    <!--模糊查询-->
    <select id="getBillByName"  resultType="Bill" resultMap="SelectList">
        select b.*,p.proName from smbms_bill b,smbms_provider p
        where b.providerId=p.Id and b.productName
        like CONCAT('%',#{productName},'%') and b.providerId=#{providerId} and b.isPayment=#{isPayment}
    </select>
    <resultMap id="SelectList" type="Bill">
        <id property="id" column="id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPayment" column="isPayment"/>
        <result property="creationDate" column="creationDate"/>
       <result property="providerName" column="providerName"/>
    </resultMap>

    <!--新增供应商-->
    <insert id="add" parameterType="Provider">
        INSERT INTO smbms_provider ( proCode,proName,proDesc,
        proContact,proPhone,proAddress,proFax,createdBy,
        creationDate) VALUES(#{proCode},#{proName},#{proDesc},#{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate})
    </insert>

    <!--修改供应商-->
    <update id="modify">
        update smbms_provider set proCode=#{proCode},proName=#{proName},proDesc=#{proDesc},proContact=#{proContact},
        proPhone=#{proPhone},proAddress=#{proAddress},proFax=#{proFax},modifyDate=#{modifyDate},modifyBy=#{modifyBy}
        where id=#{id}
    </update>

    <!--删除供应商-->
    <delete id="deleteById">
        delete from smbms_provider where id=#{id}
    </delete>

    <resultMap id="billProviderResult" type="Bill">
        <id property="id" column="id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPayment" column="isPayment"/>
        <association property="provider" javaType="Provider" resultMap="providerList">
        </association>
    </resultMap>
    <resultMap id="providerList" type="Provider">
        <id property="id" column="id"/>
        <result property="proCode" column="proCode"/>
        <result property="proName" column="proName"/>
        <result property="proContact" column="proContact"/>
        <result property="proPhone" column="proPhone"/>
    </resultMap>
    <select id="getBillProvider" resultMap="billProviderResult" parameterType="Bill">
        SELECT b.*,p.* FROM smbms_bill b,smbms_provider p
        WHERE b.providerId=p.id and b.productName like CONCAT('%',#{productName},'%') and  b.providerId=#{providerId} and b.isPayment=#{isPayment}
    </select>


    <resultMap id="getBillProById" type="Bill">
       <id column="id" property="id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="proPrice" column="proPrice"/>
        <result property="isPayment" column="isPayment"/>
        <collection property="provider" ofType="Provider" resultMap="BillProById"/>
    </resultMap>
    <resultMap id="BillProById" type="Provider">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="proCode" column="proCode"/>
        <result property="proName" column="proName"/>
        <result property="proContact" column="proContact"/>
        <result property="proPhone" column="proPhone"/>
    </resultMap>
    <select id="getBillProviderList" resultMap="getBillProById" parameterType="Bill">
        SELECT b.*,p.* FROM smbms_bill b,smbms_provider p
        WHERE b.providerId=p.id and p.id=#{id}
    </select>

    <!--角色信息的增加操作-->
    <insert id="addRole" parameterType="Role">
        insert into smbms_role (roleCode,roleName,createdBy,creationDate) values(#{roleCode},#{roleName},#{createdBy},#{creationDate})
    </insert>

    <!--根据角色Id修改角色操作-->
    <update id="modifyById">
        update smbms_role set roleCode=#{roleCode},roleName=#{roleName},createdBy=#{createdBy},modifyDate=#{modifyDate}
        where id=#{id}
    </update>

    <select id="getCount" resultType="Integer">
        select count(*) from smbms_user u,smbms_role r
        where u.userRole=r.id and u.userRole=#{id}
    </select>

    <delete id="delUserId" parameterType="Integer">
        delete from smbms_user userRole=#{id}
    </delete>

    <delete id="delId" parameterType="Integer">
        delete from smbms_role where id=#{id}
    </delete>

    <select id="getRoleByName" resultType="Role" parameterType="String">
        select * from smbms_role where roleName like CONCAT('%',#{roleName},'%')
    </select>
</mapper>