<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qwx.dao.Bill.BillMapper">
    <!--模糊查询-->
    <select id="getBillByName"  resultType="Bill" resultMap="SelectList">
        select b.*,p.proName from smbms_bill b,smbms_provider p
        where b.providerId=p.Id and b.productName
        like CONCAT('%',#{productName},'%') and b.providerId=#{providerId} and b.isPayment=#{isPayment}
    </select>
    <resultMap id="SelectList" type="Bill">
        <id property="id" column="id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPayment" column="isPayment"/>
        <result property="creationDate" column="creationDate"/>
       <result property="providerName" column="providerName"/>
    </resultMap>

    <!--新增供应商-->
    <insert id="add" parameterType="Provider">
        INSERT INTO smbms_provider ( proCode,proName,proDesc,
        proContact,proPhone,proAddress,proFax,createdBy,
        creationDate) VALUES(#{proCode},#{proName},#{proDesc},#{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate})
    </insert>

    <!--修改供应商-->
    <update id="modify">
        update smbms_provider set proCode=#{proCode},proName=#{proName},proDesc=#{proDesc},proContact=#{proContact},
        proPhone=#{proPhone},proAddress=#{proAddress},proFax=#{proFax},modifyDate=#{modifyDate},modifyBy=#{modifyBy}
        where id=#{id}
    </update>

    <!--删除供应商-->
    <delete id="deleteById">
        delete from smbms_provider where id=#{id}
    </delete>
</mapper>