<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qwx.dao.provider.ProviderMapper">
    <!--查询供应商记录数-->
    <select id="count" resultType="int">
        select count(1) as count from smbms_provider
    </select>

    <select id="list" resultType="Provider">
        select * from smbms_provider
    </select>

    <!--(ch03)SQL——if+where查询供应商表-->
    <select id="getProListByCodeName" resultType="Provider">
        select * from smbms_provider
        <where>
            <if test="proCode!=null">
                and proCode like CONCAT('%',#{proCode},'%')
            </if>
            <if test="proName!=null">
                and proName like CONCAT('%',#{proName},'%')
            </if>
        </where>
    </select>

    <!--使用if+set实现对供应商表的修改-->
    <update id="updateById" parameterType="Provider">
         update smbms_provider
        <set>
            <if test="proCode!=null">proCode=#{proCode},</if>
            <if test="proName!=null">proName=#{proName},</if>
            <if test="proDesc!=null">proDesc=#{proDesc},</if>
            <if test="proContact!=null">proContact=#{proContact},</if>
            <if test="proPhone!=null">proPhone=#{proPhone},</if>
            <if test="proAddress!=null">proAddress=#{proAddress},</if>
            <if test="proFax!=null">proFax=#{proFax},</if>
            <if test="modifyBy!=null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate!=null">modifyDate=#{modifyDate},</if>
        </set>
        where id=#{id}
    </update>

    <!--使用if+trim实现对供应商表的修改-->
    <update id="updateById1" parameterType="Provider">
        update smbms_provider
        <trim prefix="set" suffixOverrides="," suffix="id=#{id}">
            <if test="proCode!=null">proCode=#{proCode},</if>
            <if test="proName!=null">proName=#{proName},</if>
            <if test="proDesc!=null">proDesc=#{proDesc},</if>
            <if test="proContact!=null">proContact=#{proContact},</if>
            <if test="proPhone!=null">proPhone=#{proPhone},</if>
            <if test="proAddress!=null">proAddress=#{proAddress},</if>
            <if test="proFax!=null">proFax=#{proFax},</if>
            <if test="modifyBy!=null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate!=null">modifyDate=#{modifyDate},</if>
        </trim>
    </update>

    <!--使用动态SQL-choose查询动态供应商列表-->
    <select id="getLikeList" resultType="Provider">
        select * from smbms_provider where 1=1
        <choose>
            <when test="proCode!=null">
                and proCode like CONCAT('%',#{proCode},'%')
            </when>
            <when test="proName!=null">
                and proName like CONCAT('%',#{proName},'%')
            </when>
            <when test="proContact!=null">
                and proContact like CONCAT('%',#{proContact},'%')
            </when>
            <otherwise>
                and creationDate like CONCAT('%',#{creationDate},'%');
            </otherwise>
        </choose>
    </select>

    <!--分页查询供应商列表-->
    <select id="getProListPage" resultType="Provider">
        select * from smbms_provider order by creationDate DESC limit #{from},#{pageSize}
    </select>
</mapper>