<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qwx.dao.provider.ProviderMapper">
    <!--查询供应商记录数-->
    <select id="count" resultType="int">
        select count(1) as count from smbms_provider
    </select>

    <select id="list" resultType="Provider">
        select * from smbms_provider
    </select>

    <!--(ch03)SQL——if+where查询供应商表-->
    <select id="getProListByCodeName" resultType="Provider">
        select * from smbms_provider
        <where>
            <if test="proCode!=null">
                and proCode like CONCAT('%',#{proCode},'%')
            </if>
            <if test="proName!=null">
                and proName like CONCAT('%',#{proName},'%')
            </if>
        </where>
    </select>
</mapper>